// Import google web fonts
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

// Variable declarations
$brown: #261F1D;
$red: #A61C1C;
$beige: #F2E6CE;
$dark-beige: #BF9F63;
$white: #FFFFFF;

// Support legacy browsers that treat these as span elements
article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block;
}

// Body
body {
  background-color: $brown;
  margin: 10px 0 0 0;
}

// Header
body .container header {
  background-color: $beige;
  border-bottom: 3px solid $red;
  padding: 10px;

  h1 {
    color: $red;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
    font-weight: 500;
    margin: 0 0 5px 0;
  }
  h1 a {
    color: $red;
  }
  h2 {
    color: $brown;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    font-style: italic;
    margin: 0 0 5px 0;
  }

  nav {
    ul {
      float: right;
      list-style-type: none;
      margin: 0;
      padding: 0;
      vertical-align: text-bottom;
    }
    ul li {
      display: inline;
      margin: 0 5px 0 5px;

      a {
        color: $red;
        font-family: 'Arial', sans-serif;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

section#content {
  background-color: $white;

  .featured {
    max-width: 1000px;
    height: auto;
  }

  div#icons {
    margin: 0 0 10px 0;
    text-align: center;

    img {
      margin: 0 5px 0 5px;
    }
  }

  p.read-more {
    margin: 0;
    text-align: center;
  }
}

section#main {
  padding: 20px;

  h2.page-heading {
    margin: 0;
    padding: 0 0 0 15px;
  }

  h5 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: normal;
  }

  p {
    text-align: justify;
  }
}

body .container footer div {
  background-color: $dark-beige;
  font-size: .8em;
  padding: 5px;
  text-align: center;
}