@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
article,
section,
aside,
hgroup,
nav,
header,
footer,
figure,
figcaption {
  display: block;
}
body {
  background-color: #261f1d;
  margin: 10px 0 0 0;
}
body .container {
  max-width: 1000px;
}
body .container header {
  background-color: #f2e6ce;
  border-bottom: 3px solid #a61c1c;
}
body .container header h1 {
  color: #a61c1c;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  font-weight: 500;
  margin: 0 0 5px 0;
}
body .container header h1 a {
  color: #a61c1c;
}
body .container header h2 {
  color: #261f1d;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  font-style: italic;
  margin: 0 0 5px 0;
}
body .container header nav ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
}
body .container header nav ul li {
  display: inline;
  margin: 0 5px 0 5px;
}
body .container header nav ul li a {
  color: #a61c1c;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
}
body .container header nav ul li a:hover {
  text-decoration: underline;
}
section#content {
  background-color: #ffffff;
}
section#content div#icons {
  margin: 0 0 10px 0;
  text-align: center;
}
section#content div#icons img {
  margin: 0 5px 0 5px;
}
section#content p.read-more {
  margin: 0;
  text-align: center;
}
section#main {
  padding: 20px;
}
section#main h2.page-heading {
  margin: 0;
  padding: 0 0 0 15px;
}
section#main h5 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: normal;
}
section#main p {
  text-align: justify;
}
body .container footer div {
  background-color: #bf9f63;
  font-size: .8em;
  padding: 5px;
  text-align: center;
}
